@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

/*BODY-------------------------------------------*/
body {
  display: grid;
  grid-template-rows: 100px 1fr auto;
}
body header {
  grid-row: 1/2;
}
body main {
  grid-row: 2/3;
}
body footer {
  grid-row: 3/4;
}

/*HEADER-----------------------------------------*/
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(211, 57, 57);
}
@media screen and (max-width: 1100px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
header nav:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
header nav:nth-of-type(1) a {
  text-decoration: none;
  color: white;
}
header nav:nth-of-type(1) a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  header nav:nth-of-type(1) a {
    display: none;
  }
}
header nav:nth-of-type(1) .underline {
  text-decoration: underline;
}
header nav:nth-of-type(1) img {
  width: 30px;
  visibility: hidden;
}
@media screen and (max-width: 900px) {
  header nav:nth-of-type(1) img {
    visibility: visible;
  }
}
header .logo {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
header .logo img {
  width: 200px;
  height: 80px;
}
@media screen and (max-width: 500px) {
  header .logo img {
    height: 40px;
    width: 100px;
  }
}
header nav:nth-of-type(2) {
  grid-column: 3/4;
  display: flex;
  justify-content: end;
  align-items: center;
}
header nav:nth-of-type(2) img {
  width: 30px;
}

/*MAIN-----------------------------------------------*/
main {
  /*@include partial.flex-column($gap:100px);*/
}

/*FORSIDE--------------------------------------------*/
/*Hero*/
.forside-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #9cffa4;
  padding-top: 50px;
  padding-bottom: 50px;
}
.forside-hero div:nth-of-type(1) {
  grid-column: 1/2;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.forside-hero div:nth-of-type(1) img {
  height: 100%;
  position: absolute;
}
.forside-hero div:nth-of-type(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding-left: 50px;
  padding-right: 100px;
}
@media screen and (max-width: 1100px) {
  .forside-hero div:nth-of-type(2) {
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  .forside-hero div:nth-of-type(2) {
    padding-left: 10px;
  }
}
@media screen and (max-width: 700px) {
  .forside-hero {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .forside-hero div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 300px;
  }
  .forside-hero div:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/*Sundhed*/
.forside-sundhed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(181, 181, 248);
  padding-top: 50px;
  padding-bottom: 50px;
}
.forside-sundhed div:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-right: 50px;
}
.forside-sundhed div:nth-of-type(2) {
  grid-column: 2/3;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.forside-sundhed div:nth-of-type(2) img {
  height: 100%;
  position: absolute;
}
@media screen and (max-width: 700px) {
  .forside-sundhed {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .forside-sundhed div:nth-of-type(1) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .forside-sundhed div:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 300px;
  }
}

/*Træning*/
.forside-træning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffff82;
}
.forside-træning div:nth-of-type(1) {
  grid-column: 1/2;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.forside-træning div:nth-of-type(1) img {
  height: 100%;
  position: absolute;
}
.forside-træning div:nth-of-type(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
}
@media screen and (max-width: 700px) {
  .forside-træning {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .forside-træning div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 300px;
  }
  .forside-træning div:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-left: 0;
  }
}

/*Sundhed underside-----------------------------------*/
/*Hero*/
.sundhed-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #9cffa4;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sundhed-hero div:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-right: 50px;
  padding-left: 100px;
}
@media screen and (max-width: 900px) {
  .sundhed-hero div:nth-of-type(1) {
    padding-left: 50px;
  }
}
.sundhed-hero div:nth-of-type(2) {
  grid-column: 2/3;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sundhed-hero div:nth-of-type(2) img {
  height: 100%;
}
@media screen and (max-width: 700px) {
  .sundhed-hero {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .sundhed-hero div:nth-of-type(1) {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 10px;
    padding-left: 10px;
  }
  .sundhed-hero div:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 300px;
  }
}

.sundhed-mad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(181, 181, 248);
  padding-top: 50px;
  padding-bottom: 50px;
}
.sundhed-mad div:nth-of-type(1) {
  grid-column: 1/2;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.sundhed-mad div:nth-of-type(1) img {
  height: 100%;
  position: absolute;
}
.sundhed-mad div:nth-of-type(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
}
@media screen and (max-width: 700px) {
  .sundhed-mad {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .sundhed-mad div:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-right: 0;
    padding-left: 0;
    height: 300px;
  }
  .sundhed-mad div:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.sundhed-aktiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffff82;
}
.sundhed-aktiv div:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-right: 50px;
}
.sundhed-aktiv div:nth-of-type(2) {
  grid-column: 2/3;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.sundhed-aktiv div:nth-of-type(2) img {
  width: 100%;
  position: absolute;
}
@media screen and (max-width: 700px) {
  .sundhed-aktiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .sundhed-aktiv div:nth-of-type(1) {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 0;
    padding-left: 0;
  }
  .sundhed-aktiv div:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-right: 10px;
    padding-left: 10px;
    height: 300px;
  }
}

/*About----------------------------------------------*/
.about-main {
  background-color: #ffff82;
}

.about-hero .about-hero-img {
  margin-left: 100px;
  margin-right: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about-hero .about-hero-img img {
  width: 100%;
}
@media screen and (max-width: 940px) {
  .about-hero .about-hero-img {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 750px) {
  .about-hero .about-hero-img {
    align-items: start;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.about-hero div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
}
.about-hero div:nth-of-type(2) .about-box {
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(181, 181, 248);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  .about-hero div:nth-of-type(2) {
    top: 0;
    margin-bottom: 100px;
  }
}

/*Footer---------------------------------------------*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(211, 57, 57);
  color: white;
  /*Media queries footer*/
}
footer a {
  color: white;
  font-style: italic;
  width: -moz-fit-content;
  width: fit-content;
}
footer a:hover {
  color: blue;
}
footer nav:nth-of-type(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 100px;
  padding-right: 50px;
  justify-content: start;
}
footer nav:nth-of-type(2) {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 100px;
  justify-content: start;
}
@media screen and (max-width: 500px) {
  footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  footer nav:nth-of-type(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer nav:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*FONT SIZES-----------------------------------------*/
h1 {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  -webkit-hyphens: auto;
          hyphens: auto;
}

h2 {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/*CLASSES------------------------------------------*/
.cta {
  background-color: black;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px 10px 30px;
  white-space: nowrap;
  text-decoration: none;
}
.cta:hover {
  background-color: white;
  color: black;
}

section:not(:first-of-type) {
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 900px) {
  section:not(:first-of-type) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  section:not(:first-of-type) {
    padding-right: 10px;
    padding-left: 10px;
  }
}/*# sourceMappingURL=hundeportal.css.map */